In [13]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [openpyxl]1/2 [openpyxl]
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python3 -m pip install --upgrade pip

In [14]:
import pandas as pd

df = pd.read_excel('OnlineRetail.xlsx')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [15]:
def preprocess(df):
    # --- Mapping countries to regions ---
    country_to_region = {
        # Europe
        "United Kingdom": "Europe", "France": "Europe", "Germany": "Europe",
        "Norway": "Europe", "Switzerland": "Europe", "Austria": "Europe",
        "Spain": "Europe", "Portugal": "Europe", "Italy": "Europe",
        "Netherlands": "Europe", "Belgium": "Europe", "Finland": "Europe",
        "Sweden": "Europe", "Poland": "Europe", "Denmark": "Europe",
        
        # Middle East
        "Saudi Arabia": "Middle East", "United Arab Emirates": "Middle East",
        "Israel": "Middle East", "Lebanon": "Middle East", "Bahrain": "Middle East",
        
        # North America
        "USA": "North America", "United States": "North America",
        "Canada": "North America",
        
        # South America
        "Brazil": "South America", "Argentina": "South America",
        "Chile": "South America",
        
        # Asia
        "Japan": "Asia", "Singapore": "Asia", "Hong Kong": "Asia",
        "China": "Asia", "Thailand": "Asia", "Malaysia": "Asia",
        "Korea": "Asia", "Taiwan": "Asia", "India": "Asia",
        
        # Oceania
        "Australia": "Oceania", "New Zealand": "Oceania",
        
        # Africa
        "South Africa": "Africa", "Nigeria": "Africa", "Egypt": "Africa"
    }

    # --- Create the Region column ---
    df["Region"] = df["Country"].map(country_to_region)
    
    # --- Handle unmapped countries ---
    df["Region"].fillna("Other", inplace=True)
    
    # --- Split into regional DataFrames ---
    regions = df["Region"].unique()
    region_dfs = {region: df[df["Region"] == region] for region in regions}
    
    return region_dfs

In [16]:
region_dfs = preprocess(df)

/tmp/ipykernel_20663/2578058131.py:39: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Region"].fillna("Other", inplace=True)

In [17]:
list(region_dfs.keys())

['Europe',
 'Oceania',
 'Other',
 'Asia',
 'Middle East',
 'North America',
 'South America']

In [18]:
for region, data in region_dfs.items():
    print(f"Region: {region}, Number of Records: {len(data)}")

Region: Europe, Number of Records: 528201
Region: Oceania, Number of Records: 1259
Region: Other, Number of Records: 10661
Region: Asia, Number of Records: 875
Region: Middle East, Number of Records: 439
Region: North America, Number of Records: 442
Region: South America, Number of Records: 32

In [19]:
for region, data in region_dfs.items():
    filename = f"{region.replace(' ', '_')}_data.csv"
    data.to_csv(filename, index=False)
    print(f"Saved: {filename}")

Saved: Europe_data.csv
Saved: Oceania_data.csv
Saved: Other_data.csv
Saved: Asia_data.csv
Saved: Middle_East_data.csv
Saved: North_America_data.csv
Saved: South_America_data.csv

In [20]:
df["Region"].value_counts()

Region
Europe           528201
Other             10661
Oceania            1259
Asia                875
North America       442
Middle East         439
South America        32
Name: count, dtype: int64